<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">

      <label for="phrase">Enter your phrase: </label>
      <input type="text" id="phrase" name="user_phrase" >
    
      <button type="submit" id="submit">Submit!
      </button>
    </form>

  </body>
</html>
