<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <!-- <h2>Enter your phrase:</h2> -->
      <!-- <p><%= @pig_latin.to_pig_latin(user_phrase) %></p> -->
      <!-- <input type="user_phrase" id="user_phrase" />
      <button type="submit" id="submit">Submit!</button> -->

    </form>

  </body>
</html>
